<html>
    <h1>KahWee counselling: Are you happy</h1>
    <form action="/" method="post"> <!-- by right / should be http://127.0.0.1 .... -->
        <p>Please enter your tex for my Analysis: </p>
        <p><input type="text" name="text"></p>
        <p><input type="submit" value="Enter"></p>
    </form>
    <p>{{result}}</p>  <!-- variable for you to throw back the results-->
</html>
<!-- all the P tag for scrolling [to the right] > [scroll up and down] -->
<!-- input other types (images, etc) All on TTT Github -->
<!-- Front End to backend, variables must be the same -->
<!-- Throw text to backend is what we call POST -->


